* {
  font-family: monospace;
}

#Game {
  position: relative;
}

#Game_header p {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 30pt;
  font-weight: bold;
}

#Game_activity {
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  max-width: 450px;

  align-items: center;
  justify-content: center;
  border: 3px solid black;
  border-radius: 25px;
  margin: 20px;

  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding: 10px;
}

#Game_activity_moves {
  box-sizing: border-box;
  height: 70px;
  max-width: 200px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 18pt;
  background-color: rgb(122, 203, 223);
  font-weight: bold;
  padding: 10px;
  border-radius: 25px;
}

#Game_activity_timer {
  box-sizing: border-box;
  height: 70px;
  max-width: 200px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 18pt;
  padding: 15px;
  border-radius: 25px;
  font-weight: bold;
  background-color: rgb(122, 203, 223);
}

#Game_activity_togglebuttons {
  box-sizing: border-box;
  display: flex;
  height: 80px;
  max-width: 200px;
  margin: auto;
  align-items: center;
  justify-content: center;
}

#toggleactivity {
  box-sizing: border-box;
  height: 50px;
  max-width: 100px;
  text-align: center;
  margin: 10px;
  font-size: 16pt;
  border: 3px solid black;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px;
  background-color: black;
  color: white;
}

#resetbutton {
  box-sizing: border-box;
  height: 50px;
  max-width: 100px;
  text-align: center;
  margin: 10px;
  font-size: 16pt;
  border: 3px solid black;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px;
  background-color: black;
  color: white;
}

#Game_activity_togglebuttons {
  flex: 50%;
}

#Game_gameboard {
  flex: 100%;
  height: 650px;
  max-width: 390px;
  margin: auto;
}

#Game_gameboard_container {
  position: relative;
}

#Game_gameboard_container_cover {
  height: 400px;
  max-width: 390px;
  position: absolute;
  top: 0px;
  bottom: 0px;

  background-color: rgb(11, 56, 11);
  opacity: 80%;
  color: white;
  font-size: 500%;

  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

#Game_gameboard_container_board {
  height: 380px;
  max-width: 400px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border: 3px solid black;
  border-radius: 25px;
}

.Game_gameboard_container_board_row {
  display: flex;
}

.Game_gameboard_container_board_row button {
  display: flex;
  padding: 5px;
  border: 2px solid black;
  height: 84px;
  width: 84px;
  margin: 5px;
  align-items: center;
  justify-content: center;
  font-size: 25pt;
  font-weight: bold;
  cursor: pointer;
  border-radius: 25px;
}

#Game_footer {
  height: 200px;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  position: absolute;
  bottom: 0px;

  text-align: left;
  font-size: 20pt;
  word-spacing: -5px;
}

@media screen and (min-width: 508px) {
  #Game_activity {
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    max-width: 500px;

    align-items: center;
    justify-content: center;
    border: 3px solid black;
    border-radius: 25px;
    margin: 20px;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  #Game_activity_moves {
    box-sizing: border-box;
    height: 70px;
    max-width: 200px;
    text-align: center;
    margin-left: 20px;
    margin-right: 10px;
    font-size: 18pt;
    background-color: rgb(122, 203, 223);
    font-weight: bold;
    padding: 10px;
    border-radius: 25px;
  }

  #Game_activity_timer {
    box-sizing: border-box;
    height: 70px;
    max-width: 200px;
    text-align: center;
    margin-left: 20px;
    margin-right: 10px;
    font-size: 18pt;
    padding-top: 10px;
    padding-left: 15px;
    border-radius: 25px;
    font-weight: bold;
    background-color: rgb(122, 203, 223);
  }

  #Game_activity_togglebuttons {
    box-sizing: border-box;
    display: flex;
    height: 80px;
    max-width: 350px;
    margin: auto;
    align-items: center;
    justify-content: center;
  }

  #toggleactivity {
    height: 50px;
    max-width: 100px;
    text-align: center;
    margin: 10px;
    font-size: 14pt;
    border: 3px solid black;
    border-radius: 25px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    color: white;
  }

  #resetbutton {
    height: 50px;
    max-width: 100px;
    text-align: left;
    margin: 10px;
    font-size: 14pt;
    border: 3px solid black;
    border-radius: 25px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    color: white;
  }

  #Game_gameboard {
    flex: 100%;
    height: 720px;
    max-width: 500px;
    margin: auto;
  }

  #Game_gameboard_container {
    position: relative;
  }

  #Game_gameboard_container_cover {
    height: 480px;
    max-width: 500px;
    position: absolute;
    top: 0px;
    bottom: 0px;

    background-color: rgb(11, 56, 11);
    opacity: 80%;
    color: white;
    font-size: 500%;

    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  #Game_gameboard_container_board {
    height: 460px;
    max-width: 500px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border: 3px solid black;
    border-radius: 25px;
  }

  .Game_gameboard_container_board_row {
    display: flex;
  }

  .Game_gameboard_container_board_row button {
    display: flex;
    padding: 5px;
    border: 2px solid black;
    height: 84px;
    width: 84px;
    margin: 15px;
    align-items: center;
    justify-content: center;
    font-size: 25pt;
    font-weight: bold;
    cursor: pointer;
    border-radius: 25px;
  }

  #Game_footer {
    height: 200px;
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20pt;
    word-spacing: -5px;
  }
}
